@model TicketInformation

@{
	ViewBag.Title = "Tickets";
}


<div class="text-end">

	<a class="btn btn-primary" asp-controller="Ticket" asp-action="CreateTicket" asp-route-id="@Model.project.ProjectID">		
		<i class="fa-solid fa-plus fa-lg"></i>
	</a>	
	
</div>



@foreach (var ticketInfo in Model.ticketsByStatus)
{

	<div class="mt-5">


		<span style="font-size: 20px;">

			<button type="button" class="btn btn-info rounded-circle mb-2" data-bs-toggle="collapse" data-bs-target="@("#collapse" + ticketInfo.Key)" aria-expanded="true" aria-controls="@("collapse" + ticketInfo.Key)">

				<i class="fa-solid fa-arrow-down fa-lg"></i>

			</button>

			@ticketInfo.Key

		</span>



		<table class="table table-hover collapse @(ticketInfo.Value.Count > 0 ? "show" : "")" id="@("collapse" + ticketInfo.Key)">

			<thead>

				<tr>

					<th>Ticket Name</th>
					<th>Created</th>
					<th>Due</th>				
					<th>Assignee</th>
					<th>Reporter</th>
					<th>Priority</th>
					<th>Issue</th>

				</tr>

			</thead>

			<tbody>

				@foreach(var ticket in ticketInfo.Value)
				{

					<tr id="Tickets">

						<td>

							<a style="text-decoration: none;" asp-controller="Ticket" asp-action="Index" asp-route-id="@ticket.TicketID">

								@ticket.TicketName

							</a>

						</td>

						<td> @ticket.Created </td>

						<td> @ticket.DueDate </td>

						<td> @ticket.AssigneeFirstName @ticket.AssigneeLastName </td>

						<td> @Model.employees.First(e => e.Id == ticket.EmployeeId).FirstName @Model.employees.First(e => e.Id == ticket.EmployeeId).LastName </td>

						<td style="color:@Model.GetColor(ticket.PriorityID); font-weight:bold;"> @Model.priorities.First(p => p.PriorityID == ticket.PriorityID).PriorityLevel </td>

						<td> @Model.issueTypes.First(i => i.IssueTypeID == ticket.IssueTypeID).TypeTitle </td>

						<td>
							
							
							
						</td>

					</tr>

				}


			</tbody>

		</table>

	</div>


}




