@model TicketDetails


@{
	ViewData["Title"] = "TicketDetails";
	
}


<h3 class="text-center">@Model.Ticket.TicketName</h3>

<br />
<hr />
<br />

<div class="text-end">

	@if(User.Identity.Name == Model.Assignee.UserName)
	{

		<button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#ModalSatusForm">
			Update
		</button>

		<!-- Modal HTML Markup -->
		<div id="ModalSatusForm" class="modal fade">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title">Status</h1>
					</div>
					<div class="modal-body">
						<form method="post" asp-action="UpdateTicketStatus">							

							<input asp-for="Ticket.TicketID" name="ticketID" type="hidden" />

							<div class="text-start">
								<label>Status</label>

							</div>
								
							<select name="statusID" class="form-select">
								@foreach(var status in Model.Statuses)
								{ 
									<option value="@status.StatusID">@status.StatusTitle</option>
								}

							</select>


							<div class="row">
								<div class="text-start col">
									<button type="submit" class="btn btn-success mt-3">Update</button>
								</div>
								<div class="text-end col">
									<button class="btn btn-secondary mt-3" data-bs-dismiss="modal" type="button">Cancel</button>
								</div>
							</div>
							
							
						</form>						
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div>

		<!-- /.modal -->

	}
	else if (User.Identity.Name == Model.TicketCreator.UserName)
	{

		<a class="btn btn-primary" asp-action="UpdateTicket" asp-route-id="@Model.Ticket.TicketID">Update</a>

	}

</div>


<div class="row ticketParams">

	<div class="col col-sm-3">

		<h4>Ticket Description</h4>

	</div>


	<div class="col border border-2">

		<p>@Model.Ticket.TicketDescription</p>

	</div>

</div>


<div class="row ticketParams">

	<div class="col col-sm-3">

		<h4>Priority</h4>

	</div>


	<div class="col border border-2">

		<p>@Model.Priority.PriorityLevel</p>

	</div>

</div>




<div class="row ticketParams">

	<div class="col col-sm-3">

		<h4>Status</h4>

	</div>


	<div class="col border border-2">

		<p>@Model.Status.StatusTitle</p>

	</div>

</div>


<div class="row ticketParams">

	<div class="col col-sm-3">

		<h4> Issue Type </h4>

	</div>


	<div class="col border border-2">

		<p> @Model.IssueType.TypeTitle </p>

	</div>

</div>


<div class="row ticketParams">

	<div class="col col-sm-3">

		<h4> Assignee </h4>

	</div>


	<div class="col border border-2">


		<div class="row">

			<div class="col">

				<h4> Names </h4>

				<p>@Model.Assignee.FirstName @Model.Assignee.LastName</p>

			</div>


			<div class="col">

				<h4> Phone </h4>

				<p>@Model.Assignee.PhoneNumber</p>

			</div>

			<div class="col">

				<h4> Email </h4>

				<p>@Model.Assignee.Email</p>

			</div>


		</div>

	</div>

</div>


<div class="row ticketParams">

	<div class="col col-sm-3">

		<h4> Author </h4>

	</div>


	<div class="col border border-2">


		<div class="row">

			<div class="col">

				<h4> Names </h4>

				<p>@Model.TicketCreator.FirstName @Model.TicketCreator.LastName</p>

			</div>


			<div class="col">

				<h4> Phone </h4>

				<p>@Model.TicketCreator.PhoneNumber</p>

			</div>

			<div class="col">

				<h4> Email </h4>

				<p>@Model.TicketCreator.Email</p>

			</div>


		</div>

	</div>

</div>




<br />
<hr />
<br />


<div class="row ticketParams">

	<div class="col col-sm-3">

		<h4>Created</h4>

	</div>


	<div class="col border border-2">

		<p>@Model.Ticket.Created</p>

	</div>

</div>


<div class="row ticketParams">

	<div class="col col-sm-3">

		<h4>Due</h4>

	</div>


	<div class="col border border-2">

		@if(Model.Ticket.DueDate < DateTime.Now)
		{
			<p class="text-danger">@Model.Ticket.DueDate</p>
		}
		else
		{
			<p>@Model.Ticket.DueDate</p>
		}

	</div>

</div>

<div class="row ticketParams">

	<div class="col col-sm-3">

		<h4>Opened on </h4>

	</div>


	<div class="col border border-2">

		@if (default(DateTime) == @Model.Ticket.OpenedDate)
		{
			<p>Not yet opened</p>
		}
		else
		{
			<p>@Model.Ticket.OpenedDate</p>
		}

	</div>

</div>


<br />
<br />

<script type="text/javascript">
	

$(document).ready(function() {
  $('form').on('submit', function(e) {
	e.preventDefault(); // Prevent the default form submission behaviour
	// Your form submission logic here

	<form method="post" asp-action="TicketDetails" asp-route-id="@Model.Ticket.TicketID" id="myComments">

		@*<input type="hidden" id="ScrollPositionX" name="ScrollPositionX" value="@scrollPositionX" />*@
				
		<textarea class="form-control" name="comment" style="resize:none;" placeholder="Write your comment here" rows="6" > </textarea>

		<button class="btn btn-primary mt-2" type="submit" @(ViewBag.IsSubmitted ? "autofocus" : "")>
			Submit
		</button>

	</form>


	// After submitting, scroll back to the textarea
	var commentInput = document.getElementById('comment');
	commentInput.scrollIntoView();
  });
});

</script>


@*@(ViewBag.IsSubmitted ? "autofocus" : "")*@



<br />
<br />

<h2>Comments</h2>

<div class="overflow-auto mt-5" style="height: 500px;">


	@foreach(var comment in Model.Comments)
	{
	


		<div>

			<h4>
				@comment.Employee.FirstName @comment.Employee.LastName

				<sup style="font-size: 10px; color: grey;">@Model.GetCommentPostedDate(comment.TimeCreated)</sup>

			</h4>



			<h5 class="mb-5 fw-normal">@comment.Body</h5>

		</div>



	}


</div>









