@{
    string controller = ViewContext.RouteData.Values["controller"].ToString();
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!--  Bootstrap -->
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/css/bootstrap.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" asp-href-include="/lib/font-awesome/css/all.min.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


    <title>Contoso - @ViewData["Title"]</title>
</head>
<body>
    <!-- Navigation -->
    <div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" asp-controller="Project" asp-action="Index">BUG-TRACKER</a>

            <!-- Toggler/collapsible Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#MyNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse justify-content-stretch"
                 id="MyNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">

                        <a class="nav-link 
                           @(controller == "Project" ? "active" : "")"
                           asp-controller="Project" asp-action="Index">Projects</a>
                        
                    </li>
                    
                    @if(User.Identity.IsAuthenticated)
                    {                        
                        @if (User.IsInRole("administrator"))
                        {
                            <li class="nav-item">

                                <a class="nav-link 
                                   @(controller == "AdminUser" ? "active" : "")"
                                   asp-controller="AdminUser" asp-action="Index"> User Management </a>
                                
                            </li>
                            <li class="nav-item">

                                <a class="nav-link 
                                @(controller == "AdminRole" ? "active" : "")"
                                asp-controller="AdminRole" asp-action="Index"> Role Management</a>
                                
                            </li>                            
                        }
                    }
                </ul>

                <ul class="navbar-nav ml-auto">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-link">Hello, @User.Identity.Name</li>
                        <li class="nav-item">
                            <form asp-controller="Account" asp-action="Logout" method="post">

                                <button class="btn btn-link nav-link" type="submit">Log Out</button>

                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link 
                               @(controller == "Account" ? "active" : "")"
                               asp-controller="Account" asp-action="Login">Log in</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="pb-5">                   
            @RenderBody()
        </div>
    </div>

    <div class="container">
        <div class="border-top footer text-muted text-center small">
            <p>
                Created by: Patrick M-<br />
                <span class="fas fa-copyright"></span> 
            </p>
        </div>
    </div>

    <!-- JavaScript -->
    <script asp-src-include="/lib/jquery/jquery.slim.min.js"></script>
    <script asp-src-include="lib/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>


        



